@media all and (max-width: 1000px) {
  .menu {
    width: 50%;
  }
  .order input, textarea {
    width: 250px;
  }
  .top-wrapper {
    margin-top: 50px;
    padding: 300px 200px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .top-wrapper {
    margin-top: 50px;
    padding: 200px 100px;
  }
  .menu {
    width: 100%;
    padding-bottom: 50px;
  }
  .order input, textarea {
    width: 200px;
  }
}
